html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
    display: inline-block;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: "Quicksand regular";
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}